<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs147.flexivoice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MyCommands"
            android:label="@string/title_activity_my_commands"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewCommand"
            android:label="@string/title_activity_add_new_command"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OldNewCommand"
            android:label="@string/title_activity_old_new_command"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareMyDevices"
            android:label="@string/title_activity_share_my_devices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShareAlexaDevices"
            android:label="@string/title_activity_share_alexa_devices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyHistory"
            android:label="@string/title_activity_my_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyRecipeHistory"
            android:label="@string/title_activity_my_recipe_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FishTacos"
            android:label="@string/title_activity_fish_tacos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ingredients"
            android:label="@string/title_activity_ingredients"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>